*{
    box-sizing: border-box;

}
body{
    font-family: 'Nunito', sans-serif;
}
header{
    display: flex;
    width: 100vw;
    height: 130px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    outline: 2px solid rgba(180, 178, 178, 0.78);
}
.search-container{
    width: 1340px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}
.mainsearch{
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;

    height: 50px;
    flex-grow: 1;
    border-radius: 25px;
    border: 2px solid rgba(117,50,249,255);

}
.signin-container{
    width: 200px;
    height: 50px;
    justify-content: space-between;


}
.signin-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}
.signin-container .signin {
    width: 100px;
}
.signin-container .favorite {
    width: 50px;
}
.signin-container .cart {
    width: 50px;
}
.signin-container div:hover{
    background-color: lightgray;
}
.search-container input{
    outline: none;
}
.mainsearch .search{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none;
    box-shadow: none;
    background-color: rgba(117,50,249,255);
}
.mainsearch .search:hover{
    background-color: rgba(117, 50, 249, 0.7);
}
.bi-search{
    color: aliceblue;
    scale: 1.2;
}
.menu-container{
    width: 1280px;
    margin-top: 30px;
    height: 30px;
    justify-content: flex-start;
    gap: 40px;
    transition: font-weight 1s;
}
.menu-container h6:hover{
    font-size: 1.05rem;
    font-weight: bold;
}
main{
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
main>div{
    width: 1200px;
    justify-content: space-between;

}
.catetory_container{
    width: 1000px;
    justify-content: space-around;
}
main .category{

    width: 100px;
    height: 120px;
    text-align: center;
    flex-direction: column;

}
.category .image-container{
    width: 100px;
    height: 100px;
    height: fit-content;

}
.category .image-container{
    transition: scale 0.5s;
}
.category .image-container:hover{

    scale: 1.15;
}

.category h5{
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;


}
.item_image{
    width: 220px;
    height: 220px;
    overflow: hidden;
    transition: scale 0.3s;
}
.item_image:hover{
    scale: 1.1;
}
.item h6{
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}
.item .bi{
    color: #ff523b;
}
.favorite-cont{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    transition: box-shadow 0.4s;

}
.favorite-cont:hover{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}
footer{
    margin-top: 40px;
    width: auto;
    height: 200px;
    border-top: 2px solid rgba(117,50,249,255);

}
.footer-row{

    width: 1200px;
    padding-bottom: 20px;
    margin:0 auto;
}
footer h5{
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5px;
}
footer h5{
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5px;
}footer h6{

     font-size: 0.9rem;
 }
 footer h4:hover{
     color: blue;
 }

.bi-facebook{
    color: blue;
    scale: 1.7;
}
.footer-row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
}

