*{
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
}
main{
    background-color: white;
}
.top-main{
    justify-content: center;
    padding-top: 50px;
    width:  1200px;

}
.image-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #e5e5e5;
}
.carousel{
    width: 600px;
    height: 600px;
    overflow: hidden;
}
.img-btn{
    height: 90px;
    width: 90px;
background-color: rgba(85, 85, 85, 0.63);
overflow: hidden;
}
.carousel-indicators{
    opacity: 100%;
}
.move{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1da1f2;
}
.bot-border{
    border-bottom: 1px solid #e5e5e5;
}
.rest h2{
    font-weight: 800;
}
.rest h3{
    font-weight: 700;
    color: #ea4335;
}
.btn-list button:nth-child(2){
    background-color: #1da1f2;
}
.btn-list button:nth-child(2):hover{
    background-color: #1d4ff2;
}
.rest input{
    width: 50px;
}
.spacer{
    width: 22px;
}
.btn-list button{
    width: 300px;
    height: 40px;
    border-radius: 24px;
}

.rating h3,.rating h6{
    color: rgba(85, 85, 85, 0.4);
}
.shine-star{
  color: #faca51;
}
.bar{
    position: relative;
    height: 12px;
    width: 150px;
    background-color: rgba(152, 148, 148, 0.18);
}
.col-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;

    background-color: #faca51;
}
.dark-star{
    color:rgba(152, 148, 148, 0.18);
}
.rating i{
    overflow: hidden;
}
.half-star{
    width: 10px;
    height: 10px;
    background-color: #faca51;
}
.feedback-container{
    border-bottom: 1px solid #e5e5e5;
}
.tab-content h6{
    font-size: 0.9rem;
    color: rgba(85, 85, 85, 0.4);
}