*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
main{
    justify-content: center;
    padding-top: 50px;
    width:  1200px;
}
.bot-border{
    border-bottom: 1px solid #e5e5e5;
}
.price input{
    width: 70px;
    margin: 10px;
}
.sort{
    width: 200px;
}
.filter{
    width: 250px;
}
.tag{
    padding: 8px 15px 3px 15px;
    background-color: rgba(117,50,249,255);

}
.tag h6{
    color: white;
}
.tag i:hover{
    scale: 1.05;
    color: #ea4335;
}