*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
main{
    justify-content: center;
    padding-top: 50px;
    width:  1200px;
}
.bot-border{
    border-bottom: 1px solid #e5e5e5;
}
.price input{
    width: 70px;
    margin: 10px;
}
.sort{
    width: 200px;
}
.filter{
    width: 250px;
}